<template name="home">
 
  
  {{#if currentUser}}
  
    {{#if page "view1"}}
      {{> view1 }}
    {{else}} {{#if page "view2"}}
      {{> view2 }}
    {{else}}
      <p>page not found</p>
    {{/if}}{{/if}}
  
   <!-- <input id="contacts" class="btn btn-primary" type="button" value="Show contacts" /> -->
  
  {{else}}
    <img src="/images/dollar.png" width="50" height="50" style="margin-left:46%;margin-top:20%;">
    <h3 style="margin-left:30%;">Login to continue and discover our beta v.01</h3>
     <span style="margin-left:46%;">{{> loginButtons}}</span>  
  {{/if}}
  
</template>